extends layout
block vars
 - var title = "dashboard"

block content
  h1 wel-come to dashboard
  p
   a(href = "/addtopics") Add or Search Topics
   br
   div
    a(href = "/logout").logout Logout
  hr
  h2 My Latest Topics
  div 
   each topic in topics
    li
     a(href="topic/#{topic.id}") #{topic.name}