extends layout
block vars
 - var title = "dashboard"

block content
  h1 wel-come to dashboard
  p
   a(href = "/addtopics") Add or Search Topics
   br 
   a(href = "/logout") Logout
  hr
  h2 My Latest Topics