extends layout
block vars
 - var title = "Adda-Home"
block content
 center
  h1 Welcome to Adda
  p For further access 
   a(href="/login") Login
  p Or if new user 
   a(href="/registration") Register