extends layout
block vars
 - var title = "Adda-Home"
block content
 div
  center
   h1 Welcome to S@DD@ - Adda
   <hr></hr>
   p For further access 
    a(href="/login") Login
   p Or if new user 
    a(href="/registration") Register
  br
 div
  h1 TOP FIVE COMMENTS
  <hr></hr>