extends layout
block vars
 - var title = "Adda-Home"
block content
 div
  center
   h1 Welcome to Adda
   <hr></hr>
   p For further access 
    a(href="/login") Login
   p Or if new user 
    a(href="/registration") Register
  br
 div
  hr
  h1 TOP FIVE MOST TOPICS
  ol
   each topic in topics
    li 
     h2 #{topic.name}
     | #{topic.description}
  