extends layout
block vars
 - var title = "Adda-Home"
 - var topis = topics
block content
 div
  center
   h1 Welcome to Adda
   <hr></hr>
   p For further access 
    a(href="/login") Login
   p Or if new user 
    a(href="/registration") Register
  br
  <hr></hr>
  h1 TOP FIVE MOST TOPICS
 if topis
  div
   ol
    each topic in topics
     li 
      h2 #{topic.name}
      | #{topic.description}
  