extends layout
block vars
 - var title = "Register"

block content
  h1 Register your account
  if error
   p ERROR: #{error}
  form(action="/registration" method="POST")
   span 
    |Name:
    input(type="text" name="name" required)
   br
   span 
    |Email:
    input(type="email" name="email_id" required)
   br
   span 
    |Password:
    input(type="password" name="password" required)
   br
   input(type="submit" value="Register")