body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

b{
	font-size: 20px;
}

.comment {
	height: 400px;
	border: 1px;
	width: 900px;
	margin-top: 4px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.load-button {
	height: 5%;
	width: 20%;
}

.commentHolder {
	margin-top: 10px;
	height: 500px;
	width: 900px;
}

.enterComment {
	margin-left: 20%;
}

.inputBox {
	height: 30px;
	width: 300px;
}

.logout{
	display: block;
	float: right;
	margin-right: 30px;
	color: blue	;
}